<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>Admin Lounge<h1>
    </header>
    <p>Welcomne to the Admin Lounge.</p>
  </div>

  <div class="col-md-3">
    <h2>Admin Links</h2>
    <ul class="nav nav-stacked">
      <li><%= link_to "Users", admin_users_path %></li>
    </ul>
  </div>
</div>