@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "projects";
@import "tickets";
@import "admin/application";
@import "responsive";

body {
  padding-top: 70px;
}
header {
  @extend .page-header; 
  position: relative;
  padding-top: 0px;

  &:firs-child {
    margin-top: 20px;
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}
a.new, a.edit, a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}
a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}
a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}
a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}
header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}
.alert-notice {
  @extend .alert-success;
}
.alert-alert {
  @extend .alert-danger;
}
form {
  max-width: 500px;
}
